# Server
PORT=8081
GIN_MODE=debug

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD="postgres"
DB_NAME=user_management
DB_SSL_MODE=disable

# JWT (WAJIB SAMA DENGAN CORE INVENTORY)
JWT_SECRET=your-super-secret-key-min-32-characters-long
JWT_EXPIRATION_HOURS=24

# Admin Seed (optional, kalau mau override)
ADMIN_EMAIL=admin_user_m@yopmail.com
ADMIN_PASSWORD=admin123
ADMIN_NAME=Super Admin